<div class="box">
        <div class="container">
           <div class="row card-1" >
              <div class="col-md-3 ">
                 <div>
                    <img class="movie-img img-responsive" [src]="movie.movieImg" alt="Avenger Image"  style="">
                 </div>
              </div>
              <div class="col-md-9 ">
                 <div class="container">
                    <div class="row">
                       <div class="col-md-8">
                          <p class="movie-name">{{movie.movieName}}</p>
                       </div>
                       <div class="col-md-4 ">
                          <div class="avrg-rating">rating : {{movie.movieAvrgRating}}/5</div>
                       </div>
                    </div>
                 </div>
                 <div class="container">
                    <div class="row">
                       <div class="col-md-12">
                          <p class="movie-description">
                             {{movie.movieDescription}}
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="container">
                    <div class="row" style="margin-bottom: 10px;">
                       <div class="col-md-4" style="padding-left: 30px">Laguage : {{movie.movieLanguage}}</div>
                       <div class="col-md-4">Year : {{movie.movieYear}}</div>
                       <div class="col-md-4">Reviews : {{movie.movieTotalReviews}}</div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div *ngIf="isLogin() && !isReviewed()" class="container">
           <div class="row">
              <div class="col-md-12 card">
                 <div class="row inner-row">
                    <div class="col-md-3">
                       <div>
                          <img src="./assets/img/avtar.png" alt="Cute kitten" class="img-responsive user-img">
                       </div>
                       <div>
                          Hello User name
                       </div>
                    </div>
                    <div class="col-md-9">
                       <div class="row">
                           <form #reviewForm ="ngForm" (ngSubmit)="onSubmit(reviewForm)">
                                <textarea  name="name" ngModel class="text-area form-control">
                                
                                </textarea>    
                                <input type="submit" value="submit" class="btn btn-primary" style="
                                    margin-bottom: 5px;">
                           </form>                           
                       </div>
                       <div class="row ">
                          <div >
                             Your Rating : 
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div *ngIf="isLogin() && isReviewed()" class="container">
           <div class="row">
              <div class="col-md-12 card">
                 <div class="row inner-row">
                    <div class="col-md-3">
                       <div>
                          <img src="./assets/img/avtar.png" alt="Cute kitten" class="img-responsive user-img">
                       </div>
                       <div>
                          User name
                       </div>
                    </div>
                    <div class="col-md-9">
                       <div class="row">
                          <p class="user-review">
                             Fusce eu nunc eros. Vivamus sed viverra ipsum. 
                             Mauris a ligula et arcu placerat congue ut vitae urna. 
                             Integer id elit mollis, ornare nunc ac, lobortis nulla.
                          </p>
                       </div>
                       <div class="row ">
                          <div class="col-md-12 user-rating">
                             Rating : 
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="container">
           <div class="row mt-5">
              <h1 style="margin-left: 12px;" >Reviews</h1>
           </div>
        </div>
        <div class="container">
           <div *ngFor="let review of reviews" class="row mt-3 ">
              <div class="col-md-12 card">
                 <div class="row inner-row">
                    <div class="col-md-3">
                       <div>
                          <img [src]="review.userImage" alt="Cute kitten" class="img-responsive user-img">
                       </div>
                    </div>
                    <div class="col-md-9">
                       <div class="row">
                          <div class="col-md-4 user-name">
                             {{review.userName}}
                          </div>
                          <div class="col-md-8 user-rating">
                             Rating : {{review.userRating}}/5
                          </div>
                       </div>
                       <div class="row">
                          <p class="user-review">
                             {{review.userReview}}
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>