<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Movie Review System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning" href="#">Login / Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">


  <div class="row">


    <div class="col-md-3">


      <div class="card-1 movie-card">
        <img class="movie-card-img" src="https://i.pinimg.com/236x/7a/76/82/7a76826b00a142a7c677c519d8e856c7--sci-fi-films-cinema-movies.jpg">
      </div>
    </div>
    <div class="col-md-3">
      
      
            <div class="card-1 movie-card">
              <img class="movie-card-img" src="https://i.pinimg.com/236x/7a/76/82/7a76826b00a142a7c677c519d8e856c7--sci-fi-films-cinema-movies.jpg">
            </div>
          </div>
  </div>
</div>



<div *ngFor="let category of categories">




</div>